@page "/paint/{sessionId}"
@using DrawTogether.UI.Client.Components;
@using DrawTogether.UI.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims
@inject NavigationManager navigationManager;
@implements IDisposable;

<h3>Paint!</h3>

<ColorPicker ColorValueChanged="UpdateColor"></ColorPicker>
<CursorPicker CursorSizeChanged="UpdateCursorSize"></CursorPicker>

<section id="paint" style="background-color: cornsilk; width: 900px; height: 500px;"
         @onmousemove="MoveCursor" onmousedown="" onmouseup="">
    <svg width="900" height="500">
        <Circle radius="@CursorSize" cursorId="user" cX="@cX" cY="@cY" fillColor="@Color" borderColor="@Color" />
        @foreach (var c in ClientStrokes)
        {
            <Circle radius="@c.cursorSize" cX="@c.cX" cY="@c.cY" fillColor="@c.color" borderColor="@c.color" />
        }
    </svg>
</section>

<div id="active-users">
    <ol>
        @foreach (var u in Users)
        {
            <li>@u</li>
        }
    </ol>
</div>

<p>@mousePointerMessage</p>

<p>@blazorHubDebugMessage</p>

<button id="reset" @onclick="ResetScreen">Clear Screen</button>

@code {
    [Parameter]
    public string SessionId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    List<StrokeData> ClientStrokes = new List<StrokeData>();
    HashSet<string> Users = new HashSet<string>();

    private string _hubUrl;
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        // Create the chat client
        var baseUrl = navigationManager.BaseUri;

        _hubUrl = navigationManager.BaseUri.TrimEnd('/') + DrawHubConstants.HubUri;

        blazorHubDebugMessage = $"Attempting to connect to {_hubUrl}";

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(_hubUrl)
            .Build();

        _hubConnection.On<StrokeData[]>("DrawStrokes", DrawStrokes);
        _hubConnection.On<string>("AddUser", AddUser);

        await _hubConnection.StartAsync();

        var user = (await AuthState).User;

        await _hubConnection.SendAsync("JoinSession", SessionId);

        await base.OnInitializedAsync();
    }

    private void OnNext(IEnumerable<StrokeData> obj)
    {
        _hubConnection.SendAsync("AddStrokes", SessionId, obj.ToArray());
    }

    private void DrawStrokes(StrokeData[] strokes)
    {
        ClientStrokes.AddRange(strokes);

        // Inform blazor the UI needs updating
        StateHasChanged();
    }

    private void AddUser(string userName)
    {
        Users.Add(userName);
        StateHasChanged();
    }

    private void RemoveUser(string userName)
    {
        Users.Remove(userName);
        StateHasChanged();
    }


    double cX = 110.0d;
    double cY = 110.0d;
    private string mousePointerMessage = "foo";
    private string blazorHubDebugMessage = "bar";
    private string Color = "black";
    private IDisposable OutboundStrokes { get; set; }
    private int CursorSize = 8;

    private void MoveCursor(MouseEventArgs e)
    {
        //mousePointerMessage = $"Mouse coordinates: {e.ScreenX}:{e.ScreenY}";
        cX = e.OffsetX;
        cY = e.OffsetY;
        mousePointerMessage = $"Moving circle to {cX},{cY} [button pressed? {e.Buttons}]";
        if (e.Buttons == 1)
        {
            var newStroke = new StrokeData() { cursorSize = CursorSize, cX = e.OffsetX, cY = e.OffsetY, color = Color };
            OnNext(new[] { newStroke });
        }
    }

    private void UpdateColor(string color)
    {
        Color = color;
    }

    private void UpdateCursorSize(int cursorSize)
    {
        CursorSize = cursorSize;
    }

    private void ResetScreen()
    {
        //strokes.Clear();
    }

    public void Dispose()
    {
        _hubConnection.DisposeAsync();
        OutboundStrokes.Dispose();
    }
}
