@page "/paint/{sessionId}"
@using DrawTogether.UI.Client.Components;
@using DrawTogether.UI.Shared

<h3>Paint!</h3>

<ColorPicker ColorValueChanged="UpdateColor"></ColorPicker>
<CursorPicker CursorSizeChanged="UpdateCursorSize"></CursorPicker>

<section id="paint" style="background-color: cornsilk; width: 900px; height: 500px;" 
         @onmousemove="MoveCursor" onmousedown="" onmouseup="">
    <svg width="900" height="500" >
        <Circle radius="@CursorSize" cursorId="user" cX="@cX" cY="@cY" fillColor="@Color" borderColor="@Color" />
        @foreach (var c in strokes)
        {
            <Circle radius="@c.cursorSize" cX="@c.cX" cY="@c.cY" fillColor="@c.color" borderColor="@c.color" />
        }
    </svg>
</section>

<p>@mousePointerMessage</p>

<button id="reset" @onclick="ResetScreen">Clear Screen</button>

@code {
    [Parameter]
    public string SessionId { get; set; }

    List<StrokeData> strokes = new List<StrokeData>();

    double cX = 110.0d;
    double cY = 110.0d;
    private string mousePointerMessage = "foo";
    private string Color = "black";
    private int CursorSize = 8;

    private void MoveCursor(MouseEventArgs e)
    {
        //mousePointerMessage = $"Mouse coordinates: {e.ScreenX}:{e.ScreenY}";
        cX = e.OffsetX;
        cY = e.OffsetY;
        mousePointerMessage = $"Moving circle to {cX},{cY} [button pressed? {e.Buttons}]";
        if (e.Buttons == 1)
        {
            strokes.Add(new StrokeData() { cursorSize = CursorSize, cX = e.OffsetX, cY = e.OffsetY, color = Color });
        }
    }

    private void UpdateColor(string color)
    {
        Color = color;
    }

    private void UpdateCursorSize(int cursorSize)
    {
        CursorSize = cursorSize;
    }

    private void ResetScreen()
    {
        strokes.Clear();
    }
}
