@inherits LayoutComponentBase
@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using DrawTogether.Config
@using Microsoft.Extensions.Options
@inject NavigationManager NavigationManager
@inject IOptions<DrawTogetherSettings> Settings

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Primary">
        <MudLink Href="/" Underline="Underline.None" Color="Color.Inherit">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                <img src="/drawtogether-logo-transparent.png" alt="DrawTogether - MS Paint with friends" height="40" />
                <MudText Typo="Typo.h6">DrawTogether</MudText>
            </MudStack>
        </MudLink>
        
        <AuthorizeView>
            <Authorized>
                <MudButton 
                    StartIcon="@Icons.Material.Filled.Home" 
                    Color="Color.Inherit" 
                    Href="/" 
                    Class="ml-2">Home</MudButton>
                <MudButton 
                    StartIcon="@Icons.Material.Filled.Add" 
                    Color="Color.Inherit" 
                    Href="NewPaint" 
                    Class="ml-2">New Drawing</MudButton>
                <MudButton 
                    StartIcon="@Icons.Material.Filled.Person" 
                    Color="Color.Inherit" 
                    Href="Account/Manage" 
                    Class="ml-2">@context.User.Identity?.Name</MudButton>
                
                <form method="post" action="Account/Logout" style="display: inline-block;">
                    <AntiforgeryToken />
                    <input name="ReturnUrl" type="hidden" value="@ReturnUrl" />
                    <MudButton 
                        StartIcon="@Icons.Material.Filled.ExitToApp" 
                        Color="Color.Inherit"
                        ButtonType="ButtonType.Submit"
                        Class="ml-2">Logout</MudButton>
                </form>
            </Authorized>
            <NotAuthorized>
                @if (Settings.Value.AllowAnonymousAccess)
                {
                    @* Anonymous mode: Show anonymous indicator and New Drawing button *@
                    <MudChip T="string" Icon="@Icons.Material.Filled.Public" Color="Color.Info" Size="Size.Small" Class="ml-2">Anonymous Mode</MudChip>
                    <MudButton
                        StartIcon="@Icons.Material.Filled.Home"
                        Color="Color.Inherit"
                        Href="/"
                        Class="ml-2">Home</MudButton>
                    <MudButton
                        StartIcon="@Icons.Material.Filled.Add"
                        Color="Color.Inherit"
                        Href="NewPaint"
                        Class="ml-2">New Drawing</MudButton>
                }
                else
                {
                    @* Auth required mode: Show auth-related buttons *@
                    <MudButton
                        StartIcon="@Icons.Material.Filled.Home"
                        Color="Color.Inherit"
                        Href="/"
                        Class="ml-2">Home</MudButton>
                    <MudButton
                        StartIcon="@Icons.Material.Filled.Lock"
                        Color="Color.Inherit"
                        Href="auth"
                        Class="ml-2">Auth Required</MudButton>
                    <MudButton
                        StartIcon="@Icons.Material.Filled.PersonAdd"
                        Color="Color.Inherit"
                        Href="Account/Register"
                        Class="ml-2">Register</MudButton>
                    <MudButton
                        StartIcon="@Icons.Material.Filled.Login"
                        Color="Color.Inherit"
                        Href="Account/Login"
                        Class="ml-2">Login</MudButton>
                }
            </NotAuthorized>
        </AuthorizeView>
        
        <MudSpacer />
        <MudButton 
            StartIcon="@Icons.Material.Filled.Info" 
            Color="Color.Inherit" 
            Href="/about" 
            Class="mr-2">About</MudButton>
    </MudAppBar>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pt-2 px-1">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string ReturnUrl => NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
}